@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-home:before, .icon-newspaper:before, .icon-pencil:before, .icon-image:before, .icon-images:before, .icon-file:before, .icon-copy:before, .icon-file-2:before, .icon-bubbles:before, .icon-list:before, .icon-signup:before, .icon-bars:before, .icon-key:before, .icon-lock:before, .icon-unlocked:before, .icon-equalizer:before, .icon-cogs:before, .icon-zoom-in:before, .icon-zoom-out:before, .icon-binoculars:before, .icon-calendar:before, .icon-print:before, .icon-envelop:before, .icon-folder:before, .icon-folder-open:before, .icon-tag:before, .icon-office:before, .icon-droplet:before, .icon-paint-format:before, .icon-books:before, .icon-book:before, .icon-bars-2:before, .icon-stats:before, .icon-pie:before, .icon-info:before, .icon-thumbs-up:before, .icon-thumbs-up-2:before, .icon-flag:before, .icon-attachment:before, .icon-link:before, .icon-earth:before, .icon-globe:before, .icon-download:before, .icon-upload:before, .icon-bookmark:before, .icon-arrow-up-left:before, .icon-arrow-up:before, .icon-arrow-up-right:before, .icon-arrow-right:before, .icon-arrow-down-right:before, .icon-arrow-down:before, .icon-arrow-down-left:before, .icon-arrow-left:before, .icon-yelp:before, .icon-database:before, .icon-tags:before, .icon-users:before, .icon-user:before, .icon-undo:before, .icon-redo:before, .icon-forward:before, .icon-reply:before, .icon-gift:before, .icon-trophy:before, .icon-warning:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-home:before {
	content: "\e000";
}
.icon-newspaper:before {
	content: "\e001";
}
.icon-pencil:before {
	content: "\e002";
}
.icon-image:before {
	content: "\e003";
}
.icon-images:before {
	content: "\e004";
}
.icon-file:before {
	content: "\e005";
}
.icon-copy:before {
	content: "\e006";
}
.icon-file-2:before {
	content: "\e007";
}
.icon-bubbles:before {
	content: "\e008";
}
.icon-list:before {
	content: "\e009";
}
.icon-signup:before {
	content: "\e00a";
}
.icon-bars:before {
	content: "\e00b";
}
.icon-key:before {
	content: "\e00c";
}
.icon-lock:before {
	content: "\e00d";
}
.icon-unlocked:before {
	content: "\e00e";
}
.icon-equalizer:before {
	content: "\e00f";
}
.icon-cogs:before {
	content: "\e010";
}
.icon-zoom-in:before {
	content: "\e011";
}
.icon-zoom-out:before {
	content: "\e012";
}
.icon-binoculars:before {
	content: "\e013";
}
.icon-calendar:before {
	content: "\e014";
}
.icon-print:before {
	content: "\e015";
}
.icon-envelop:before {
	content: "\e016";
}
.icon-folder:before {
	content: "\e017";
}
.icon-folder-open:before {
	content: "\e018";
}
.icon-tag:before {
	content: "\e019";
}
.icon-office:before {
	content: "\e01a";
}
.icon-droplet:before {
	content: "\e01b";
}
.icon-paint-format:before {
	content: "\e01c";
}
.icon-books:before {
	content: "\e01d";
}
.icon-book:before {
	content: "\e01e";
}
.icon-bars-2:before {
	content: "\e01f";
}
.icon-stats:before {
	content: "\e020";
}
.icon-pie:before {
	content: "\e021";
}
.icon-info:before {
	content: "\e022";
}
.icon-thumbs-up:before {
	content: "\e023";
}
.icon-thumbs-up-2:before {
	content: "\e024";
}
.icon-flag:before {
	content: "\e025";
}
.icon-attachment:before {
	content: "\e026";
}
.icon-link:before {
	content: "\e027";
}
.icon-earth:before {
	content: "\e028";
}
.icon-globe:before {
	content: "\e029";
}
.icon-download:before {
	content: "\e02a";
}
.icon-upload:before {
	content: "\e02b";
}
.icon-bookmark:before {
	content: "\e02c";
}
.icon-arrow-up-left:before {
	content: "\e02d";
}
.icon-arrow-up:before {
	content: "\e02e";
}
.icon-arrow-up-right:before {
	content: "\e02f";
}
.icon-arrow-right:before {
	content: "\e030";
}
.icon-arrow-down-right:before {
	content: "\e031";
}
.icon-arrow-down:before {
	content: "\e032";
}
.icon-arrow-down-left:before {
	content: "\e033";
}
.icon-arrow-left:before {
	content: "\e034";
}
.icon-yelp:before {
	content: "\e035";
}
.icon-database:before {
	content: "\e036";
}
.icon-tags:before {
	content: "\e037";
}
.icon-users:before {
	content: "\e038";
}
.icon-user:before {
	content: "\e039";
}
.icon-undo:before {
	content: "\e03a";
}
.icon-redo:before {
	content: "\e03b";
}
.icon-forward:before {
	content: "\e03c";
}
.icon-reply:before {
	content: "\e03d";
}
.icon-gift:before {
	content: "\e03e";
}
.icon-trophy:before {
	content: "\e03f";
}
.icon-warning:before {
	content: "\e040";
}
